Practica/ConsoleApp1/ConsoleApp1/obj/
Practica/ConsoleApp1/UniversityUI/obj/
Practica/ConsoleApp1/UniversityLibrary/obj/
Practica/ConsoleApp1/ConsoleApp1/bin/
Practica/ConsoleApp1/UniversityUI/bin/
Practica/ConsoleApp1/WpfApp1/obj/
